In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('../datasets/fr.csv', header=None)

In [21]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1506053531,0,0.01298,0.01164,0.01904,0.17794,49420650.0,24710325.0,24710325.0,27200.0,4075.0,200.0,1
1,1506053531,1,0.01283,0.00961,0.01672,0.20868,48201765.0,24100883.0,24100883.0,27200.0,4040.0,160.0,1
2,1506053531,2,0.01268,0.00590,0.01337,0.20442,48211669.0,24105834.0,24105834.0,27200.0,3956.0,170.0,1
3,1506053531,3,0.01129,0.00988,0.01637,0.18453,47423524.0,23711762.0,23711762.0,27200.0,3964.0,158.0,1
4,1506053531,4,0.01169,0.01338,0.01783,0.11478,47778345.0,23889173.0,23889173.0,27200.0,4053.0,163.0,1

In [22]:
df = pd.DataFrame({
    'id': df[0],
    'e_mu_current': df[2],
    'e_mu_estimated': df[3],
    'e_nu_1': df[4],
    'e_nu_2': df[5],
    'q_mu': df[9] / df[6] * 1000,
    'q_nu1': df[10] / df[7] * 1000,
    'q_nu2': df[11] / df[8] * 1000,
})

In [24]:
df.to_csv('../datasets/data.csv')
df.head(5)

,id,e_mu_current,e_mu_estimated,e_nu_1,e_nu_2,q_mu,q_nu1,q_nu2
0,1506053531,0.01298,0.01164,0.01904,0.17794,0.550377,0.164911,0.008094
1,1506053531,0.01283,0.00961,0.01672,0.20868,0.564295,0.167629,0.006639
2,1506053531,0.01268,0.00590,0.01337,0.20442,0.564179,0.164110,0.007052
3,1506053531,0.01129,0.00988,0.01637,0.18453,0.573555,0.167174,0.006663
4,1506053531,0.01169,0.01338,0.01783,0.11478,0.569296,0.169658,0.006823